table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}
table{
    width: 100%;
}
th, td{
    padding: 10px;
}
th{
    text-align: left;
    background-color: whitesmoke;
}
#titulo1{
    
}
.texto1{
    background-color: #F7BD6E;
}
.texto2{
    background-color: greenyellow;
}